
dataset/cifar/cifar-100-python.tar.gz
dataset/cifar/cifar-100-python/file.txt~
dataset/cifar/cifar-100-python/meta
dataset/cifar/cifar-100-python/test
dataset/cifar/cifar-100-python/train
dataset/imagenet/
pp_experiments_
pp_experiments_most
