
dataset/cifar/cifar-100-python.tar.gz
dataset/cifar/cifar-100-python/file.txt~
dataset/cifar/cifar-100-python/meta
dataset/cifar/cifar-100-python/test
dataset/cifar/cifar-100-python/train
dataset/cifar/cifar-10-python.tar.gz
dataset/cifar/cifar-10-batches-py/*
dataset/modified_cifar_10/*
dataset/imagenet/
dataset/saliency_maps/*
models/old_models/trained_vgg11_cifar10
models/trained_vgg11_cifar10
pp_experiments_
pp_experiments_most
results/imagenet
biased_data/
results_bias/
results/bias_experiment/model/model_vgg.pt
